# Server
APP_PORT=8080

# Database
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tsilodot_db
DB_PORT=5432
DB_SSL_MODE=disable # disable or require

DB_URI="postgres://postgres:postgres@localhost:5432/tsilodot_db?sslmode=disable"

# JWT
JWT_SECRET_KEY=""

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=